:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-color: #000000; /* Black background */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.black-bg {
  background-color: black;
  color: white; /* Ensure text is readable on a black background */
}

.black-bg body {
  background: black; /* Ensure full black background */
}



